body {
  padding: 0 10px;
  font: 14px Arial,Helvetica,freesans,sans-serif;
  background-color: #2A2728;
  color: #EAEAEA;
}

a {
  color: #DB006D;
  font-size: 1.3em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: white;
}

h1 {
  color: #DB006D;
  font-weight: lighter;
  letter-spacing: -0.5px;
  font-size: 4em;
}

/* MAIN */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex-basis: 406px;
  /*height: 228px;*/
  margin:10px;
  padding: 5px;
}

.programme-title {
  font-size: 1.2em;
  font-weight: bold;
}

/* NAVIGATION */

.navigation {
  display: inline;
  text-align: center;
}

.navigation li {
  color: #666666;
  margin: 15px 5px;
  padding: 7px;
  line-height: 45px;
}

/* LISTS */

ul li {
  list-style-type: none;
  display: inline
}
