<!DOCTYPE html>
<html ng-app="listings">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="./javascripts/angular.js"></script>
    <script src="./javascripts/app.js"></script>
    <script src="./javascripts/controllers/listingsController.js"></script>
    <script src="./javascripts/services/listingsService.js"></script>
  </head>
  <body>
    <section class="" ng-controller="listingsController as ctrl">
      <nav>
        <ul>
          <li ng-click="ctrl.showProgrammes('a')"><a href="#"  id="letter-a">a</a></li>
          <li ng-click="ctrl.showProgrammes('b')"><a href="#"  id="letter-b">b</a></li>
          <li ng-click="ctrl.showProgrammes('c')"><a href="#"  id="letter-c">c</a></li>
          <li ng-click="ctrl.showProgrammes('d')"><a href="#"  id="letter-d">d</a></li>
          <li ng-click="ctrl.showProgrammes('e')"><a href="#"  id="letter-e">e</a></li>
          <li ng-click="ctrl.showProgrammes('f')"><a href="#"  id="letter-f">f</a></li>
          <li ng-click="ctrl.showProgrammes('g')"><a href="#"  id="letter-g">g</a></li>
          <li ng-click="ctrl.showProgrammes('h')"><a href="#"  id="letter-h">h</a></li>
          <li ng-click="ctrl.showProgrammes('i')"><a href="#"  id="letter-i">i</a></li>
          <li ng-click="ctrl.showProgrammes('j')"><a href="#"  id="letter-j">j</a></li>
          <li ng-click="ctrl.showProgrammes('k')"><a href="#"  id="letter-k">k</a></li>
          <li ng-click="ctrl.showProgrammes('l')"><a href="#"  id="letter-l">l</a></li>
          <li ng-click="ctrl.showProgrammes('m')"><a href="#"  id="letter-m">m</a></li>
          <li ng-click="ctrl.showProgrammes('n')"><a href="#"  id="letter-n">n</a></li>
          <li ng-click="ctrl.showProgrammes('o')"><a href="#"  id="letter-o">o</a></li>
          <li ng-click="ctrl.showProgrammes('p')"><a href="#"  id="letter-p">p</a></li>
          <li ng-click="ctrl.showProgrammes('q')"><a href="#"  id="letter-q">q</a></li>
          <li ng-click="ctrl.showProgrammes('r')"><a href="#"  id="letter-r">r</a></li>
          <li ng-click="ctrl.showProgrammes('s')"><a href="#"  id="letter-s">s</a></li>
          <li ng-click="ctrl.showProgrammes('t')"><a href="#"  id="letter-t">t</a></li>
          <li ng-click="ctrl.showProgrammes('u')"><a href="#"  id="letter-u">u</a></li>
          <li ng-click="ctrl.showProgrammes('v')"><a href="#"  id="letter-v">v</a></li>
          <li ng-click="ctrl.showProgrammes('w')"><a href="#"  id="letter-w">w</a></li>
          <li ng-click="ctrl.showProgrammes('x')"><a href="#"  id="letter-x">x</a></li>
          <li ng-click="ctrl.showProgrammes('y')"><a href="#"  id="letter-y">y</a></li>
          <li ng-click="ctrl.showProgrammes('z')"><a href="#"  id="letter-z">z</a></li>
        </ul>
      </nav>
      <ul>
        <li class="" ng-repeat="programme in ctrl.programmes">
          {{ programme.title }}
        </li>
      </ul>
    </section>
  </body>
</html>
