<!DOCTYPE html>
<html ng-app="listings">
  <head>
    <title><%= title %></title>
    <script src="./javascripts/angular.js"></script>
    <script src="./javascripts/app.js"></script>
    <script src="./javascripts/controllers/listingsController.js"></script>
    <script src="./javascripts/services/listingsService.js"></script>
    <link rel="stylesheet" href="./stylesheets/style.css">

  </head>
  <body>
    <section ng-controller="listingsController as ctrl">
      <nav>
        <ul>
          <li ng-click="ctrl.showProgrammes('a', '1')"><a href="#"  id="letter-a">a</a></li>
          <li ng-click="ctrl.showProgrammes('b', '1')"><a href="#"  id="letter-b">b</a></li>
          <li ng-click="ctrl.showProgrammes('c', '1')"><a href="#"  id="letter-c">c</a></li>
          <li ng-click="ctrl.showProgrammes('d', '1')"><a href="#"  id="letter-d">d</a></li>
          <li ng-click="ctrl.showProgrammes('e', '1')"><a href="#"  id="letter-e">e</a></li>
          <li ng-click="ctrl.showProgrammes('f', '1')"><a href="#"  id="letter-f">f</a></li>
          <li ng-click="ctrl.showProgrammes('g', '1')"><a href="#"  id="letter-g">g</a></li>
          <li ng-click="ctrl.showProgrammes('h', '1')"><a href="#"  id="letter-h">h</a></li>
          <li ng-click="ctrl.showProgrammes('i', '1')"><a href="#"  id="letter-i">i</a></li>
          <li ng-click="ctrl.showProgrammes('j', '1')"><a href="#"  id="letter-j">j</a></li>
          <li ng-click="ctrl.showProgrammes('k', '1')"><a href="#"  id="letter-k">k</a></li>
          <li ng-click="ctrl.showProgrammes('l', '1')"><a href="#"  id="letter-l">l</a></li>
          <li ng-click="ctrl.showProgrammes('m', '1')"><a href="#"  id="letter-m">m</a></li>
          <li ng-click="ctrl.showProgrammes('n', '1')"><a href="#"  id="letter-n">n</a></li>
          <li ng-click="ctrl.showProgrammes('o', '1')"><a href="#"  id="letter-o">o</a></li>
          <li ng-click="ctrl.showProgrammes('p', '1')"><a href="#"  id="letter-p">p</a></li>
          <li ng-click="ctrl.showProgrammes('q', '1')"><a href="#"  id="letter-q">q</a></li>
          <li ng-click="ctrl.showProgrammes('r', '1')"><a href="#"  id="letter-r">r</a></li>
          <li ng-click="ctrl.showProgrammes('s', '1')"><a href="#"  id="letter-s">s</a></li>
          <li ng-click="ctrl.showProgrammes('t', '1')"><a href="#"  id="letter-t">t</a></li>
          <li ng-click="ctrl.showProgrammes('u', '1')"><a href="#"  id="letter-u">u</a></li>
          <li ng-click="ctrl.showProgrammes('v', '1')"><a href="#"  id="letter-v">v</a></li>
          <li ng-click="ctrl.showProgrammes('w', '1')"><a href="#"  id="letter-w">w</a></li>
          <li>x</li>
          <li ng-click="ctrl.showProgrammes('y', '1')"><a href="#"  id="letter-y">y</a></li>
          <li ng-click="ctrl.showProgrammes('z', '1')"><a href="#"  id="letter-z">z</a></li>
        </ul>
      </nav>

      <main>
        <ul class="container">
          <li class="item" ng-repeat="programme in ctrl.programmes">
            {{ programme.title }}
            <img src="{{programme.image}}" id="thumbnail"/>
          </li>
        </ul>

      </main>

      <section>
        <ul>
          <li ng-repeat="page in ctrl.pages">
            <a href="#" ng-click="ctrl.showProgrammes(page.character, page.number)">{{ page.number }}</a>
          </li>
        </ul>
      </section>
    </section>
  </body>
</html>
